{% extends "blog/base.html" %}
{% block content %}

        <br><br>
        <br><br>
        <div class="box" Style="background-color: #bebebe;">
            
            <h1>Abhishek Kumar Gupta</h1>
            <h4>Tecdrop Founder</h4>
          <p>
          </p>
          <ul>
          <li><a href="mailto:abhibhaiofficial@gmail.com" target="_blank">Email</a></li>
          <li><a href="https://wa.me/8566077814/" target="_blank">Whatsapp</a></li>
          <li><a href="https://www.linkedin.com/in/abhishek-kumar-gupta-727a681bb/" class="text-black" target="_blank">LinkedIn</a></li>
          </ul>
        </div>
        <br> <br> <br> <br> <br>
        <br> <br> <br> <br> <br>
{% endblock content %}